.bullet.big {
    height:30px;top: -30px;
  }
  .bullet {
    fill: #1361a5;
  }

  
  
  .bullet::before {
    content: " ";
    border-bottom: 18px solid #1361a5;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: relative;
    top: -13px;
  }
  .bullet::after {
    content: " ";
    border-bottom: 13px solid #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    position: relative;
    top: -69px;
    left: 1px;
  }

  
  .timeline::before {
    content: '';
    background-color: #1361a5;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 21px;
    width: 20px;
  }
    
  .timeline::after {
    content: '';
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 24px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
  }

  .timelinelast::before {
    content: '';
    background-color: #1361a5;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 21px;
    width: 20px;
  }

  .circle {
    height: 55px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
      padding-top: 5px;
    padding-top: 0px;
    margin-top: 5px;
  }

  .finaldestination::before {
    content: " ";
    border-bottom: 18px solid #1361a5;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: relative;
    top: -34px;
  }
  .finaldestination::after {
    content: " ";
    border-bottom: 13px solid #fff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
      border-right-color: transparent;
      border-right-style: solid;
      border-right-width: 12px;
    position: relative;
    top: -31px;
    left: -28px;
  }