.switch {
    display: revert !important;
}
.hidden-xs {
    display: inline-block !important;
}
.h-layoutmanager:hover {
    background-color: #08c;
    color: #FFF;
    cursor: pointer;
}
.selectLayout{
    background-color: #08c;
    color: #FFF;
    cursor: pointer;
}
.datetimepicker {
    z-index: 100000 !important;
}
.swal2-container {
    z-index: 100000 !important;
}
.table-noborder
.table-noborder > thead > tr > th, .table-noborder > tbody > tr > th, .table-noborder > tfoot > tr > th, .table-noborder > thead > tr > td, .table-noborder > tbody > tr > td, .table-noborder > tfoot > tr > td {
    border-top: none !important;
}
#dataTableRowInfoNotice {
    width: 100% !important;
}
.colorpicker {
    z-index: 100000 !important;
}
.multiselect-container.dropdown-menu {
    width: 600px;
    height: 350px;
    overflow-y: auto;
}
.multiselect-container > li {
    float: left;
    width: 20%;
}
.widthFull {
    width: 100% !important;
}
.m-width50 {
    margin: 0 auto;
    display: block;
    width: 50%;
}
.w-initial {
    width: 5%;
    display: initial;
}
.bg-imgScreen {
    background-color: #f6f6f6;
}
.center-wBold {
    text-align: center;
    font-weight: bold;
}
.bg-progress {
    background-color: #00000082;
    width: 98%;
    height: 350px;
    position: absolute;
    z-index: 200;
}
.bg-iconProgress {
    width: 80px;
    position: absolute;
    top: 127px;
    left: 46%;
}
.select2-drop{
	z-index: 100000;
}


.screen_maes_19{
    background: rgba(0, 0, 0, 0) url("/assets/Infovision/assets/images/prev_maestronic19_new.png") no-repeat scroll 0 0;
    height: 393px;
    padding-top: 30px;
    padding-left: 46px;
    width: 650px;
}

.screen_maes_29 {
    background: rgba(0, 0, 0, 0) url("/assets/Infovision/assets/images/prev_maestronic29.png") no-repeat scroll 0 0;
    width: 955px;
    height: 334px;
    padding-top: 38px;
    padding-left: 54px;
}

.screen_maes_29new {
    background: rgba(0, 0, 0, 0) url("/assets/Infovision/assets/images/prev_maestronic29.png") no-repeat scroll 0 0;
        background-size: auto;
    width: 955px;
    height: 500px;
    padding-top: 38px;
    padding-left: 54px;
    background-size: 955px 396px;
}

.screen_maes_19_1024-768 {
    background: rgba(0, 0, 0, 0) url("/assets/Infovision/assets/images/prev_maestronic19_1024x768.png") no-repeat scroll 0 0;
    height: 420px;
    padding-top: 30px;
    padding-left: 43px;
    width: 529px;
}

.screen_maes_19_1280-720 {
    background: rgba(0, 0, 0, 0) url("/assets/Infovision/assets/images/prev_maestronic19_new.png") no-repeat scroll 0 0;
    height: 393px;
    padding-top: 30px;
    padding-left: 46px;
    width: 650px;
}

.screen_maes_19new{
    background: rgba(0, 0, 0, 0) url("/assets/Infovision/assets/images/prev_maestronic19new.png") no-repeat scroll 0 0;
    width: 969px;
    height:393px;
    padding-top: 18px;
    padding-left: 30px;
}