body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0px;
}
#map { height: 100%; }
.sidebar {
    padding: 15px;
    position: absolute;
    z-index: 2;
    width: 430px;
    background-color: rgba(255,255,255,0.8);
    margin: 21px 65px;
}
.sidebar h1 {
    margin-top: 0;
}
.coords {
    padding-left: 15px;
    font-size: 12px;
    max-height: 290px;
    overflow-y: auto;
}
.getDataOriPolygon {
    display: none;
}
.panel-heading {
    background-color: rgba(255, 255, 255, 0.71) !important;
    border-bottom: none !important;
}
.panel-body {
    background-color: rgba(255, 255, 255, 0.71) !important;
}
input {
    border: 1px solid #555;
    padding: 8px;
    margin: 8px 0px;
    width: 100%;
}
h1 {
    font-size: 22px !important;
}
h2 {
    font-size: 18px !important;
}
h3 {
    font-size: 16px !important;
}