@media (min-width: 768px) {
	.col-custom-01 {
		width: 12%;
		float: left;
		padding: 5px;
	}
}
.canvas-container {
	/*background-color: #FFF;*/
	margin: auto;
}
.h-imgRes:hover {
	background-color: #373737;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
}
.h-imgLayout {
	cursor: pointer;
}
.select_screen {
	background-color: #373737;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
}
.select_imageLayout {
	background-color: #373737;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
}
.colorpicker {
	z-index: 10001 !important;
}
.h-layout-preset:hover {
	background-color: #575757;
	border-radius: 4px;
	border: 1px solid #000;
}
.objtxt {
	margin-top: 75px;
	margin-left: 25px;
	color: white;
}
.bootstrap-timepicker-widget.dropdown-menu.open {
	z-index: 10001 !important;
}
.date-object {
	background-color: #fdfdfd;
	padding: 7px;
	border: 2px solid #8b8b8b;
	color: #8b8b8b !important;
	text-decoration: none !important;
}
.date-object:hover {
	background-color: #0099e6;
	color: #FFF !important;
	text-decoration: none !important;
}
.selectDay {
	background-color: #0099e6;
	color: #FFF !important;
	text-decoration: none !important;
}
.multiselect-container {
	min-width: 500px;
}
.multiselect {
	width: 420px;
}
.popover {
	z-index: 100000 !important;
}
#datatable-playlist {
	width: 100% !important;
}
.panel-groupWidget:hover {
	background-color: #cac5c5;
	cursor: pointer;
}
.panel-groupWidget {
	border: 2px solid #08c;
	border-radius: 5px;
	margin: 1px;
	color: #08c;
}
.dropdown-sizeMenu {
	width: 400px;
	border-radius: 5px;
	margin-top: 10px;
}
.position-title-dropdown {
	margin-left: 14px;
	font-size: 21px;
	font-weight: 600;
}
.rowPanelPosition {
	padding-left: 10px;
	padding-right: 10px;
}
.pad0 {
	padding: 0px !important;
}
.pad-top5 {
	padding-top: 5px !important;
}
.text-center {
	text-align: center;
}
.position-icon-widget {
	font-size: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.size-text-widget {
	font-size: 14px;
}
.position-icon-widget1 {
	font-size: 60px;
	margin-top: -5px;
	margin-bottom: 22px;
	color: #476b7d;
}
.position-icon-widget2 {
	font-size: 60px;
	/* position: absolute; */
	left: 52px;
	top: 17px;
}
.panelCanvas {
	overflow:scroll;
	background-color: #2c2c2c;
}
.pad-h250 {
	padding: 20px;
	height: 250px;
}
.img-size19 {
	width: 80%;
	margin: 0 auto;
	display: block;
}
.mar-top40 {
	margin-top: 40px;
}
.center-top20 {
	text-align: center;
	margin-top: 20px;
}
.pad-left-right {
	padding-left: 100px;
	padding-right: 100px;
}
.dis-width150 {
	display: inline-table !important;
	width: 150px;
}
.mar-top-28 {
	margin-top: -28px;
}
@media (min-width: 768px) {
	.col-custom-01 {
		width: 12%;
		float: left;
		padding: 5px;
	}
}
.h-layoutmanager:hover {
	background-color: #6aacbf;
	color: #FFF;
}
.cornersel::before {
	border-width: 2.3em;
	border-right-color: #6aacbf;
	border-top-color: #6aacbf;
}
.cornersel::before, .cornersel::after {
	content: '';
	position: absolute;
	top: 5px;
	right: 20px;
	border-color: transparent;
	border-style: solid;
}
.cornersel::after {
	border-width: 2.0em;
	border-right-color: #6aacbf;
	border-top-color: #6aacbf;
}
.cornersel {
	background-color: #6aacbf;
	color: #FFF;
}
.multiselect-container {
	z-index: 2010 !important;
	height: 400px;
	overflow-y: auto;
}
.btn-group > .multiselect-container > .input-group {
	position: fixed;
	width: 55%;
	z-index: 500;
	background-color: #FFF;
	margin: 0;
	padding: 5px;
}
.multiselect-container > li:first-of-type {
	margin-top: 40px !important;
}



.screenbus_29 {
	background: rgba(0, 0, 0, 0) url("/assets/Infovision/assets/images/prev_maestronic29.png") no-repeat scroll 0 0;
	width: 955px;
	height: 334px;
	padding-top: 38px;
	padding-left: 54px;
}
.screen_maes_15 {
    background: rgba(0, 0, 0, 0) url("/assets/Infovision/assets/images/prev_maestronic15.png") no-repeat scroll 0 0;
    width: 404px;
    height: 323px;
    padding-top: 20px;
    padding-left: 33px;
}
.screen_maes_19 {
    width: 975px;
    height: 390px;
    padding-top: 45px;
    padding-left: 60px;
}

.screen_maes_19 #canvaspreview > span > .obdata{
    display: none;
}

.screen_maes_19 #canvaspreview > span{
    left: 0px !important;
    width: 588px !important;
    height: 330px !important;
}

.screen_maes_19 #canvaspreview > span > .slidedata{
    width: 588px !important;
    height: 330px !important;
}

.screen_maes_19 #canvaspreview > span > .slidedata > img{
    width: 588px !important;
    height: 330px !important;
}

.screen_maes_19 #canvaspreview > span > .slidedata > video{
    width: 588px !important;
    height: 330px !important;
}

#screenmaes {
    margin-right: 10px;
}

.screen_maes_19{
    background: rgba(0, 0, 0, 0) url("/assets/Infovision/assets/images/prev_maestronic19_new.png") no-repeat scroll 0 0;
    height: 393px;
    padding-top: 30px;
    padding-left: 46px;
    width: 650px;
}

.screen_maes_29 {
    background: rgba(0, 0, 0, 0) url("/assets/Infovision/assets/images/prev_maestronic29.png") no-repeat scroll 0 0;
    width: 955px;
    height: 334px;
    padding-top: 38px;
    padding-left: 54px;
}

.screen_maes_29new {
    background: rgba(0, 0, 0, 0) url("/assets/Infovision/assets/images/prev_maestronic29.png") no-repeat scroll 0 0;
        background-size: auto;
    width: 955px;
    height: 500px;
    padding-top: 38px;
    padding-left: 54px;
    background-size: 955px 396px;
}

.screen_maes_19_1024-768 {
    background: rgba(0, 0, 0, 0) url("/assets/Infovision/assets/images/prev_maestronic19_1024x768.png") no-repeat scroll 0 0;
    height: 420px;
    padding-top: 30px;
    padding-left: 43px;
    width: 529px;
}

.screen_maes_19_1280-720 {
    background: rgba(0, 0, 0, 0) url("/assets/Infovision/assets/images/prev_maestronic19_new.png") no-repeat scroll 0 0;
    height: 393px;
    padding-top: 30px;
    padding-left: 46px;
    width: 650px;
}

.screen_maes_19new{
    background: rgba(0, 0, 0, 0) url("/assets/Infovision/assets/images/prev_maestronic19new.png") no-repeat scroll 0 0;
    width: 969px;
    height:393px;
    padding-top: 18px;
    padding-left: 30px;
}
.prevClose {
	float: right;
	margin-top: -20px;
	margin-right: -5px;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	border: none;
	font-size: 38px;
}

.select2-drop{
	z-index: 100000 !important;
}