/*
Template Name: Admin Press Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
/*
Template Name: Admin Press Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*Preloader*/
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}

.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}

/*******************
/*Top bar
*******************/
.topbar {
  background: #fd7e14;
}

.topbar .navbar-header {
  background: #ffffff;
}

.topbar .top-navbar .navbar-header .navbar-brand .light-logo {
  display: none;
  color: rgba(255, 255, 255, 0.8);
}

.topbar .navbar-light .navbar-nav .nav-item > a.nav-link {
  color: #ffffff !important;
}

.topbar .navbar-light .navbar-nav .nav-item > a.nav-link:hover, .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:focus {
  color: rgba(255, 255, 255, 0.8) !important;
}

/*******************
/*General Elements
*******************/
a.link:hover, a.link:focus {
  color: #fd7e14 !important;
}

.bg-theme {
  background-color: #fd7e14 !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #fd7e14;
  border-color: #fd7e14;
}

.right-sidebar .rpanel-title {
  background: #fd7e14;
}

.stylish-table tbody tr:hover, .stylish-table tbody tr.active {
  border-left: 4px solid #fd7e14;
}

.text-themecolor {
  color: #fd7e14 !important;
}

.profile-tab li a.nav-link.active,
.customtab li a.nav-link.active {
  border-bottom: 2px solid #fd7e14;
  color: #fd7e14;
}

.profile-tab li a.nav-link:hover,
.customtab li a.nav-link:hover {
  color: #fd7e14;
}

/*******************
/*Buttons
*******************/
.btn-themecolor,
.btn-themecolor.disabled {
  background: #fd7e14;
  color: #ffffff;
  border: 1px solid #fd7e14;
}

.btn-themecolor:hover,
.btn-themecolor.disabled:hover {
  background: #fd7e14;
  opacity: 0.7;
  border: 1px solid #fd7e14;
}

.btn-themecolor.active, .btn-themecolor:focus,
.btn-themecolor.disabled.active,
.btn-themecolor.disabled:focus {
  background: #028ee1;
}

/*******************
/*sidebar navigation
*******************/
.label-themecolor {
  background: #fd7e14;
}

.sidebar-nav > ul > li.active > a {
  color: #fd7e14;
  border-color: #fd7e14;
}

.sidebar-nav > ul > li.active > a i {
  color: #fd7e14;
}

.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
  color: #fd7e14;
}

.sidebar-nav ul li a.active i, .sidebar-nav ul li a:hover i {
  color: #fd7e14;
}

.card-outline-info .card-header {
  background: #fd7e14 !important;
  border-color: #fd7e14 !important;
}

a {
  color: #fd7e14;
}

a:hover {
  color: #cc5d00;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border: 1px solid #fd7e14 !important;
  background-color: #fd7e14 !important;
}

.btn-block {
  background-color: #fd7e14;
  border-color: #fd7e14;
}

.btn-block:hover {
  background-color: #9d6637;
  border-color: #9d6637;
}

.text-info  {
  color: #fd7e14 !important;
}

.text-info :hover {
  color: #9d6637 !important;
}

.form-material .form-control, 
.form-material .form-control.focus, 
.form-material .form-control:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fd7e14), to(#fd7e14)), -webkit-gradient(linear, left top, left bottom, from(rgba(120, 130, 140, 0.13)), to(rgba(120, 130, 140, 0.13)));
}