// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'node_modules/select2/dist/css/select2';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// // Font Awesome
// $fa-font-path: "../webfonts";
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import '~@fortawesome/fontawesome-free/scss/regular';
// @import '~@fortawesome/fontawesome-free/scss/solid';
// @import '~@fortawesome/fontawesome-free/scss/brands';
@import 'node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker';



.datatable_process{
    border-radius: 4px;
    height: 100%;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%;
    z-index: 10;
}


//Themes Includes
@import 'backend/style.scss';
