.bg-pleaseWait {
	background-color: #0000009e;
	width: 98%;
	height: 260px;
	position: absolute;
	z-index: 999;
	text-align: center;
	color: #FFF;
}
.img-pleaseWait {
	width: 126px;
	margin-top: 60px;
}