@media (min-width: 768px) {
#map { height: 750px; }

#controlbox {
    position: absolute;
    left: 85px;
    top: 35px;
    width: 250px;
    max-width: 625pt;
    z-index: 999;
    box-shadow: 0 1.5pt 2pt rgba(0, 0, 0, 0.3);
    border-radius: 2pt;
}

#controlboxRight {
    position: absolute;
    right: 50px;
    top: 35px;
    width: 450px;
    max-width: 625pt;
    z-index: 999;
    box-shadow: 0 1.5pt 2pt rgba(0, 0, 0, 0.3);
    border-radius: 2pt;   
}

.scrollBarMap {
    margin-top: 20px;
    height: 406px;
    overflow: scroll;
}

.vehicle-stops > tbody {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

.vehicle-detour > tbody {
    display: block;
    max-height: 150px;
    overflow-y: scroll;
}
}

@media (max-width: 768px) {
#map { height: 350px; }

#controlbox {
    position: unset;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 1.5pt 2pt rgba(0, 0, 0, 0.3);
    border-radius: 2pt;
}

#controlboxRight {
    position: unset;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 1.5pt 2pt rgba(0, 0, 0, 0.3);
    border-radius: 2pt;   
}

.group-panel {
    float: right !important;
    width: 50%;
}

.titleGroup-panel {
    float: left;
    width: 50%;
}

.header-panel {
    height: 47px;
}

.scrollBarMap {
    margin-top: 20px;
    height: 206px;
    overflow: scroll;
}

.vehicle-stops > tbody {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

.vehicle-detour > tbody {
    display: block;
    max-height: 100px;
    overflow-y: scroll;
}
}

.bus_list {
    cursor: pointer;
}

.panel {
    margin-bottom: 0px;
}

.leaflet-popup-content-wrapper {
  border-radius: 0px;
}

.vehicle-stops {
    width: 400px;
}

.vehicle-stops td, th {
    padding: 4px 4px;
}

.leaflet-popup-content {
    width: auto !important;
}

.panel-heading {
    padding: 13px !important;
}

.panel-actions {
    top: 12px !important;
}

.panel-title {
    font-size: 18px;
}

.overTableView {
    /*max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;*/
    width: 410px;
}

.markBus {
    background-color: red !important;
    color: #FFF !important;
}

.showMarkerMap {
    display: block !important;
}

.hideMarkerMap {
    display: none;
}

.fLeft {
    float: left;
}

.fRight {
    float: right;
}

.overTableViewInfo {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.overTableViewInfoDetour {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.panel-group .panel-accordion .panel-heading a {
    padding: 0px !important;
}

.vehicle-detour > thead, .vehicle-detour > tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.closeControlDetour {
    cursor: pointer;
}

.vehicle-detour {
    max-height: 150px;
    overflow: auto;
}