.bullet.big {
  height: 30px;
  top: -5px;
  position:relative;
  background-color: white;
  }
  .bullet {
    fill: #1361a5;
  }

  
  
  #bulletbig::before {
    border-bottom: 18px solid #1361a5;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    content: "";
    left: 19px;
    position: absolute;
    top: -16px;
    z-index: 1111;
  }

  #bulletbig::after {
    border-bottom: 13px solid #fff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: "";
    left: 21px;
    position: absolute;
    top: -7px;
    z-index: 111111;
  }

  
  .timeline::before {
    content: '';
    background-color: #1361a5;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 21px;
    width: 20px;
    height: 65px;
  }
    
  .timeline::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 16px;
    left: 23px;
    position: absolute;
    top: 5px;
    width: 17px;
  }

  .timelinelast::before {
    content: '';
    background-color: #1361a5;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 21px;
    width: 20px;
  }

  .circle {
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    margin-top: 3px;
    padding: 0 5px 5px;
  }

  .finaldestination::before {
    content: " ";
    border-bottom: 18px solid #1361a5;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: relative;
    top: -34px;
  }
  .finaldestination::after {
    content: " ";
    border-bottom: 13px solid #fff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
      border-right-color: transparent;
      border-right-style: solid;
      border-right-width: 12px;
    position: relative;
    top: -31px;
    left: -28px;
  }