.nav-tabs li a, .nav-tabs li a:hover {
	background: #08c;
	border-bottom: none;
	color: #FFF;
	padding: 10px;
	width: 180px;
	margin-bottom: 20px;
	height: 100px;
}
.nav-tabs li a {
	font-size: 1.3rem;
	margin-right: 1px;
	border-radius: 5px;
	margin-left: 5px;
}
.nav-tabs li a, .nav-tabs li a:hover {
	border-left: none;
	border-right: none;
	border-top: none;
}
.nav-tabs li a:hover {
	border-bottom-color: transparent;
	border-top: none;
	box-shadow: none;
}
.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
	background: white;
	border-left-color: #eeeeee;
	border-right-color: #eeeeee;
	border-top: none;
	color: #555555;
	border: 2px solid #eee;
	padding: 10px;
	width: 180px;
	height: 100px;
}