.datepicker table tbody tr td.day.active {
	background: #171717 !important;
}
.route-summary .route-code-empty {
	height: 12px;
	width: 12px;
	border-radius: 2px;
}
.route-code-empty {
	height: 20px;
	width: 20px;
	border: 1px solid #000;
}
.route-code, .route-code-empty {
	display: inline-block;
	border-radius: 3px;
}
.line-bgGreen {
	width: 100%;
	height: 11px;
	background-color: green;
	border-radius: 3px;
}